In [3]:
import mysql.connector
import pandas as pd
import PRIVATE


def fetch_all_tables_data(database_name):
    try:
        connection = mysql.connector.connect(
            host=PRIVATE.ip,
            port=3306,
            user='chic',
            password='password',
            database=database_name
        )

        cursor = connection.cursor()

        cursor.execute("show tables")
        tables = cursor.fetchall()

        all_tables_data = {}

        for (table_name,) in tables:
            cursor.execute(f"select * from {table_name}")
            results = cursor.fetchall()
            column_names = [i[0] for i in cursor.description]

            df = pd.DataFrame(results, columns=column_names)
            all_tables_data[table_name] = df

        return all_tables_data

    except mysql.connector.Error as err:
        print(err)
        return None
    finally:
        if connection:
            cursor.close()
            connection.close()


all_data = fetch_all_tables_data('chic-dbstudy')

if all_data is not None:
    for table_name, df in all_data.items():
        print(f"| {table_name} |")
        print(df)
        print("\n")

| dept |
  deptno deptname deptloc
0     10      관리부      서울
1     20      생산부      부산
2     30      영업부      대구
3     40      기술부      대전


| emp |
  empno titleno deptno empname manager  salary       hdate
0  1001      40     10       킹    None    5000  1997-01-01
1  1002      30     20     이영업    1001    4300  1998-01-01
2  1003      30     30     김생산    1001    4800  1999-01-01
3  1004      30     40     홍연구    1001    4500  1999-12-01
4  1005      20     20     이말숙    1002    3300  2000-01-01
5  1006      10     20     김말숫    1002    2800  2001-01-01
6  1007      20     30     홍영자    1003    3500  2000-12-01
7  1008      10     30     이영자    1003    2300  2002-05-01
8  1009      20     40     김강국    1004    3800  2001-01-01
9  1010      10     40     홍정국    1004    2500  2002-12-01


| title |
  titleno titlename
0      10        사원
1      20        대리
2      30        팀장
3      40        대표